.container{
    padding-top: 10%;
    padding-bottom: 6%;
    height: 100%;
    width: 100%;
}

.img{
   
    border-radius: 8px;
}
.img:hover{
    box-shadow:2px 2px 8px rgb(24, 24, 24)
}

.p{
margin-top:2%;
opacity: 70%;
}

.h4{
    margin-top:2%;
}